.title-box {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    border: 1px solid;
    text-align: center;
    font-size: 40px;
}

.instructions {
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
    border: 1px solid;
    text-align: center;
    font-size: 20px;
}

.computer-number-box {
    width: 250px;
    height: 250px;
    margin: 10px 10px 10px 115px;
    border: 1px solid;
    float: left;
}

.computer-number-display {
    padding: 85px 100px 115px 110px;
    font-size: 40px;
}

.score-box {
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 1px solid;
    float: left;
}

.player-score {
    padding: 85px 100px 115px 115px;
    font-size: 40px;
}

.buttons {
    margin: 20px;
}

.gem-image {
    width: 100px;
    height: 100px;
}